:root {
  --primarybackground: #ffe9e0;
  --primaryitemcolor: #ff4d00;
  --textcolor: rgba(0, 0, 0, 0.81);
  --primarytextcolor: #000000;
  --secondarytextcolor: #959190;
  --tertiarytextcolor: #443d3d;
  --bordercolor: rgba(255, 77, 0, 0.6);
  --secondarybordercolor: #e1e1e1;
  --tertiarybordercolor: #d9d9d9;
  --heartcolor: #e81224;
  --light: #ffffff;
  --dark: #000000;
}